.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

#roll-dice {
    width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    background-color: #ffffff;
    background: linear-gradient(310deg, #afafaf 30%, #ffffff 80%);
    color: rgb(0, 0, 0);
    cursor: pointer;
};
